
lab_1/.vs/lab_1/DesignTimeBuild/.dtbcache
lab_1/.vs/lab_1/DesignTimeBuild/.dtbcache
lab_1/.vs/lab_1/DesignTimeBuild/.dtbcache
lab_1/.vs/lab_1/v16/.suo
lab_1/.vs/lab_1/v16/Server/sqlite3/storage.ide
lab_1/lab4/obj/Debug/netcoreapp3.1/lab4.csprojAssemblyReference.cache
lab_1/lab6/.vs/lab6/DesignTimeBuild/.dtbcache
lab_1/lab6/.vs/lab6/v16/.suo
lab_1/lab6/.vs/lab6/v16/Server/sqlite3/storage.ide
lab_1/lab6/.vs/lab6/v16/Server/sqlite3/storage.ide-shm
lab_1/lab6/.vs/lab6/v16/Server/sqlite3/storage.ide-wal
lab_1/.vs/lab_1/DesignTimeBuild/.dtbcache
lab_1/.vs/lab_1/v16/.suo
lab_1/.vs/lab_1/v16/Server/sqlite3/storage.ide
lab_1/lab4/obj/Debug/netcoreapp3.1/lab4.csprojAssemblyReference.cache
lab_1/lab6/.vs/lab6/DesignTimeBuild/.dtbcache
lab_1/lab6/.vs/lab6/v16/.suo
lab_1/lab6/.vs/lab6/v16/Server/sqlite3/storage.ide
lab_1/lab6/.vs/lab6/v16/Server/sqlite3/storage.ide-shm
lab_1/lab6/.vs/lab6/v16/Server/sqlite3/storage.ide-wal
